<% max_level = 3 %>
  <% Spree::Taxonomy.all.each do |taxonomy| %>
    <% if taxonomy.name != 'Специальные товары' %>
    <% cache [I18n.locale, taxonomy, max_level] do %>
      <h2><%= taxonomy.name %></h2>
      <div class="categories">
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
      </div>
    <% end %>
    <% end %>

  <% end %>
